<?xml version="1.0"?>
<model>
  <name>TurtleBot3 Waffle (No Odom TF)</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Modified for Hector SLAM</name>
    <email>noreply@anthropic.com</email>
  </author>
  <description>
    TurtleBot3 Waffle with odometry TF publishing disabled for use with Hector SLAM
  </description>
</model>
